.questionsListContainer{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    width: 1200px;
}

.questionContainer{
    text-align: center;
}

.questionHeader{
    display: flex;
    flex-direction: row;
}
.questionBody{
    display: inherit;
    flex-direction: inherit;
}
.questionChoices{
    display: flex;
    flex-direction: row;
    justify-content: center;
}