.questionsListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 800px;
}

.imgContainer {
  width: 40px;
  height: auto;
}
.imgContainer > img {
  width: 100%;
  border-radius: 8px;
}
.questionContainer {
  text-align: center;
  border: 1px solid grey;
  margin: 2px;
  width: 80%;
  border-radius: 8px;
  padding: 5px 15px;
}

.questionHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.questionBody {
  display: inherit;
  flex-direction: inherit;
}
.questionChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
